body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1f1f1f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wordle-container {
    text-align: center;
}

.game-screen {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 800px;  /* Increase the max-width for a larger table */
    margin: 0 auto;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #ccc;
}

#word-display {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #fff;
}

#user_guess {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1em;
    width: 100%;
    max-width: 200px;
}

button {
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 200px;
}

button:hover {
    background-color: #45a049;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

td {
    border: 1px solid #ddd;
    padding: 15px;  /* Increase padding for a larger table */
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.correct-position {
    background-color: #4CAF50;
    color: white;
}

.correct-word {
    background-color: #FFD700; /* Yellow */
    color: black;
}

.incorrect {
    background-color: #383535;
    color: white;
}
