/* wordle.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1f1f1f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wordle-container {
    text-align: center;
}

.game-screen {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff;  /* Adjust the color as needed */
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #ccc;  /* Adjust the color as needed */
}

#word-display {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #fff;  /* Adjust the color as needed */
}

#guess-input {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.correct {
    color: green;
    font-weight: bold;
}

.partial {
    color: yellow;  /* Add styling for partial matches */
    font-weight: bold;
}
#guess-history-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#guess-history {
    font-size: 10em;
}