/* wordle.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #202020;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #555;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container */
}

h1 {
    color: #f8f8f8;
}

h2 {
    color: #f8f8f8;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column; /* Stack the form elements vertically */
    margin-top: 20px;
}

label {
    color: #f8f8f8;
    margin-bottom: 10px;
}

input,
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    margin-top: 10px; /* Add some space between the input and button */
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #202020;
}

td {
    padding: 15px;
    text-align: center;
    font-size: 30px;
}

.guess-word span {
    display: inline-block;
    width: 10%; /* Adjust as needed */
    height: 50px;
    line-height: 50px;
    margin: 2px;
    border: 1px solid #444;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-color: #444;
}

.correct {
    color: #4caf50;
}

.partial {
    color: #ff9800;
}

.incorrect {
    color: #f44336;
}
