<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wordle Minigame</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='wordle.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Taking Over the Wordle, {{ rounds.name }}!</h1>

        {% if rounds.guesses %}
        <h2>Guess History:</h2>
        <table>
            <tbody>
                {% for i in range(rounds.guesses|length) %}
                <tr>
                    <td class="guess-word">
                        {% set checks = rounds.checks[i] %}
                        {% set guess = rounds.guesses[i] %}
                        {% for j in range(guess|length) %}
                            {% set letter = guess[j] %}
                            {% set check_letter = checks[j] %}
                            {% if check_letter == '-' %}
                                <span class="incorrect">{{ letter }}</span>
                            {% elif check_letter.islower() %}
                                <span class="partial">{{ letter }}</span>
                            {% elif check_letter.isupper() %}
                                <span class="correct">{{ letter }}</span>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        <form action="{{ url_for('wordle') }}" method="post">
            <input type="hidden" id="name" name="name" value="{{ rounds.name }}">
            <input type="hidden" id="start_time" name="start_time" value="{{ rounds.time }}">
            <label for="guess">Guess:</label>
            <input type="text" id="guess" name="guess" maxlength="5" pattern="[a-zA-Z]{5}" required autofocus>
            <button type="submit">Submit Guess</button>
        </form>
    </div>
</body>
</html>
